<ion-header>
  <ion-toolbar>
    <ion-title>
      Crédits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
              <ion-item>
                <ion-img src="../../assets/img/e2vr.png"></ion-img>
              </ion-item>
              <ion-item>
                <ion-col class="ion-text-center">Powered By E2VR</ion-col>
              </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
