<ion-header>
  <ion-toolbar >
    <ion-title class="ion-text-center">
      List Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset="true">
    <ion-list-header>
      <ion-col class="ion-text-center">
        <ion-button (click)="getUsersList()" color="secondary">Refresh</ion-button>
      </ion-col>
    </ion-list-header>
      <ion-card *ngFor="let x of usersList;let i=index" class="{{x.gender}}">
        <ion-card-header>
          <ion-row>
            <ion-col size="auto">
              <ion-avatar>
              <img [src]="x.picture.large">
              </ion-avatar>
            </ion-col>
            <ion-col  class="ion-text-center">
              <ion-card-title>{{x.name.first}} {{x.name.last}}</ion-card-title>
              <p>{{x.location.country}}</p>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <p><span>Gender:</span> {{x.gender}}</p>
          <p><span>Email:</span> {{x.email}}</p>
          <p><span>Phone:</span> {{x.phone}}</p>
          <p><span>Address:</span> {{x.location.street.number}} {{x.location.street.name}} {{x.location.city}}</p>
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
