// Carte Utilisateur
ion-card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 20px;
}
span {
    text-decoration: underline;
    font-weight:bold;
}
.female {
    background-image: url(../../assets/img/bg-female.jpg);
    background-size: cover;
}
.male {
    background-image: url(../../assets/img/bg-male.jpg);
    background-size: cover;
}
p,
ion-card-title {
    color: black;
}
